/* Imports DM Sans and Heebo */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Heebo&display=swap");

/* Defaults */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button,
fieldset,
input,
legend,
select,
textarea {
  appearance: none;
}

/* Variables */
:root {
  --activeNavButtonColor: rgb(166, 82, 75, 0.4);
  --titleFont: "DM Sans", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --listTitleFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Apple Color Emoji", Helvetica, Arial, sans-serif, "Segoe UI Emoji",
    "Segoe UI Symbol";
}

/* Grid styling for the whole page layout */
.grid-main {
  display: grid;
  height: 100vh;
  grid-template: 1.5fr 9fr 50px / 1fr;
}

/* Start of Header Styling */

.header {
  background-color: #f25757;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  justify-content: space-around;
  grid-gap: 20%;
}

.header h1 {
  text-align: center;
  align-self: center;
  padding: 0.2rem 1rem;
  color: white;

  font-family: var(--titleFont);
  letter-spacing: 0.4rem;
  font-size: 1.5rem;
}

.header button {
  align-self: center;
  justify-self: center;
  background-color: transparent;
  padding: 0;
  border-radius: 5px;
  border: 0;
  color: white;
  font-size: 2.5rem;
  width: 50px;
  height: 50px;
  font-weight: 100;
  font-family: var(--listTitleFont);
}

.header button:hover {
  background-color: rgba(221, 221, 221, 0.3);
}

/* End of Header Styling */

/* Start of Main Styling */

.main {
  display: grid;
  grid-template: 1fr / 1fr 3fr;
}

.main .nav {
  background-color: #36b1bf;
  display: grid;
  grid-template: repeat(auto-fill, 50px) / 1fr;
  gap: 10px;
  padding: 10px;
}

.nav button {
  border-radius: 5px;
  border: 0;
  font-family: var(--titleFont);
}

.nav button:hover {
  background-color: var(--activeNavButtonColor);
}

.main .content {
  background-color: #f2dfce;
}

.nav .projects {
  display: grid;
  grid-template: 1fr / 1fr 20px;
  align-items: center;
}

.nav .add-project {
  height: 20px;
}

.nav h3 {
  font-family: var(--titleFont);
}

.content {
  padding: 10px 30px;
}

.content h1 {
  font-family: var(--listTitleFont);
}

/* End of Main Styling */

/* Start of Popups */

.addTaskPopup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: black solid 1px;
  border-radius: 3px;
  padding: 10px;
}

/* End of Popups */

/* Footer styling */
.footer {
  background-color: #a6524b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
